@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.appContainer {
  display: flex;
  border: 2px solid rgb(204, 201, 201);
  width: 600px;
  height: 200px;
  margin: 120px auto;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  border-radius: 25px;
}
